Repository it-is-not-alright/need-for-drive-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix"],
  "*.scss": ["stylelint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Updates
  index.html
  main.js
  main.js.LICENSE.txt
Due: eslint --fix

Updates
  5250b533fe56a78652c7.ttf
  main.js
Due: eslint --fix

Updates
  main.js
Due: eslint --fix

Updates
  aef627dba996fb47eb9099795bac7575.svg
  main.js
Due: eslint --fix

Updates
  main.js
  main.js.LICENSE.txt
Due: eslint --fix

V-7. Pt. 1
  .eslintrc.json
  src/App.tsx
  src/assets/fonts/helvetica/helvetica-regular.ttf
  src/assets/fonts/helvetica/style.scss
  src/assets/sprite.svg
  src/components/App/App.tsx
  src/components/App/style.scss
  src/components/App/types.ts
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/types.ts
  src/components/_colors.scss
  src/components/_dimensions.scss
  src/components/_mixins.scss
  src/components/common/BrandForm/BrandForm.tsx
  src/components/common/BrandForm/style.scss
  src/components/common/BrandForm/types.ts
  src/components/common/Button/Button.tsx
  src/components/common/Button/style.scss
  src/components/common/Button/types.ts
  src/components/common/Icon/Icon.tsx
  src/components/common/Icon/style.scss
  src/components/common/Icon/types.ts
  src/components/common/TextInput/TextInput.tsx
  src/components/common/TextInput/style.scss
  src/components/common/TextInput/types.ts
  src/components/pages/LogInPage/LogInPage.tsx
  src/components/pages/LogInPage/style.scss
  src/components/pages/SignInPage/SignInPage.tsx
  src/components/pages/SignInPage/style.scss
  src/components/pages/constants.ts
  src/custom.d.ts
  src/index.tsx
  src/validation/types.ts
  src/validation/validator.ts
  tsconfig.json
  webpack.config.js
Due: eslint --fix, stylelint --fix, prettier --write

Updates
  130.main.js
  559.main.js
  7c8d04cd831df3033c8a.ttf
  main.js
Due: eslint --fix

Updates
  344.main.js
  559.main.js
  main.js
Due: eslint --fix

V-7. Error page
  src/assets/fonts/roboto/roboto-medium.ttf
  src/assets/fonts/roboto/style.scss
  src/components/App/App.tsx
  src/components/App/style.scss
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/_colors.scss
  src/components/_mixins.scss
  src/components/common/BrandForm/BrandForm.tsx
  src/components/common/BrandForm/style.scss
  src/components/common/TextInput/TextInput.tsx
  src/components/common/TextInput/style.scss
  src/components/pages/ErrorPage/ErrorPage.tsx
  src/components/pages/ErrorPage/style.scss
  src/components/pages/ErrorPage/types.ts
  src/components/pages/LogInPage/LogInPage.tsx
  src/components/pages/LogInPage/style.scss
  src/components/pages/NotFoundPage/NotFoundPage.tsx
  src/components/pages/SignInPage/SignInPage.tsx
Due: eslint --fix, stylelint --fix

F-8. Pt. 1: Redux Saga & localStorage
  package-lock.json
  package.json
  src/api/actions/auth.ts
  src/api/api-request.ts
  src/api/constants.ts
  src/api/index.ts
  src/api/types.ts
  src/components/App/App.tsx
  src/components/App/types.ts
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/pages/LogInPage/LogInPage.tsx
  src/components/pages/OrdersPage/OrdersPage.tsx
  src/components/pages/SignInPage/SignInPage.tsx
  src/components/pages/constants.ts
  src/index.tsx
  src/local-storage/accessors.ts
  src/local-storage/constants.ts
  src/local-storage/types.ts
  src/redux/actions/auth.ts
  src/redux/actions/types.ts
  src/redux/constants.ts
  src/redux/reducers/auth.ts
  src/redux/reducers/index.ts
  src/redux/reducers/types.ts
  src/redux/sagas/auth.ts
  src/redux/sagas/index.ts
  src/redux/selectors/auth.ts
  src/redux/store.ts
  webpack.config.js
Due: eslint --fix, prettier --write

Updates
  248.main.js
  559.main.js
  main.js
  main.js.LICENSE.txt
Due: eslint --fix

F-8. Pt 2: Error handle & pending spinner
  src/api/api-request.ts
  src/components/App/style.scss
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/types.ts
  src/components/_mixins.scss
  src/components/common/BrandForm/BrandForm.tsx
  src/components/common/BrandForm/style.scss
  src/components/common/BrandForm/types.ts
  src/components/common/Button/Button.tsx
  src/components/common/Button/style.scss
  src/components/common/Button/types.ts
  src/components/pages/ErrorPage/ErrorPage.tsx
  src/components/pages/ErrorPage/types.ts
  src/components/pages/LogInPage/LogInPage.tsx
  src/components/pages/LogInPage/style.scss
  src/components/pages/NotFoundPage/NotFoundPage.tsx
  src/components/pages/SignInPage/SignInPage.tsx
Due: eslint --fix, stylelint --fix

V-7. Sign in fix
  src/components/pages/LogInPage/LogInPage.tsx
  src/components/pages/SignInPage/SignInPage.tsx
  src/components/pages/constants.ts
Due: eslint --fix

F-8. Reset action name fix
  src/components/App/style.scss
  src/components/pages/LogInPage/LogInPage.tsx
  src/redux/actions/auth.ts
  src/redux/actions/types.ts
  src/redux/constants.ts
  src/redux/reducers/auth.ts
  src/redux/sagas/auth.ts
Due: eslint --fix, stylelint --fix

V-8. Start
  src/assets/sprite.svg
  src/components/App/App.tsx
  src/components/App/style.scss
  src/components/Header/Header.tsx
  src/components/Header/SearchBar/SearchBar.tsx
Due: eslint --fix, stylelint --fix

V-7. BEM fix
  src/components/common/BrandForm/BrandForm.tsx
  src/components/common/BrandForm/style.scss
Due: eslint --fix, stylelint --fix

Updates
  3cd97f895302ceb3ef16d93cbf39d5de.svg
  ac8d04b620e54be9b0f0.ttf
  main.js
Due: eslint --fix

Updates
  e24bf84ab2cb4c0433e47967a5bf731b.png
  main.js
Due: eslint --fix

V-8. Header
  src/assets/fonts/_families.scss
  src/assets/fonts/_weight.scss
  src/assets/fonts/helvetica/style.scss
  src/assets/fonts/poppins/poppins-semi-bold.ttf
  src/assets/fonts/poppins/style.scss
  src/assets/images/account.png
  src/assets/sprite.svg
  src/components/App/App.tsx
  src/components/App/style.scss
  src/components/App/util.ts
  src/components/Header/Dropdown/Dropdown.tsx
  src/components/Header/Dropdown/style.scss
  src/components/Header/Header.tsx
  src/components/Header/NoticeButton/NoticeButton.tsx
  src/components/Header/NoticeButton/style.scss
  src/components/Header/SearchBar/SearchBar.tsx
  src/components/Header/SearchBar/style.scss
  src/components/Header/constants.ts
  src/components/Header/style.scss
  src/components/Header/types.ts
  src/components/_dimensions.scss
  src/components/_mixins.scss
  src/components/common/Badge/Badge.tsx
  src/components/common/Badge/style.scss
  src/components/common/Badge/types.ts
  src/components/common/BrandForm/style.scss
  src/components/common/Button/Button.tsx
  src/components/common/Button/style.scss
  src/components/common/Icon/types.ts
  src/components/common/TextInput/TextInput.tsx
  src/components/common/TextInput/style.scss
  src/components/pages/ErrorPage/style.scss
  src/custom.d.ts
Due: eslint --fix, stylelint --fix

Updates
  130.main.js
  248.main.js
  344.main.js
  3cd97f895302ceb3ef16d93cbf39d5de.svg
  5250b533fe56a78652c7.ttf
  559.main.js
  7c8d04cd831df3033c8a.ttf
  ac8d04b620e54be9b0f0.ttf
  aef627dba996fb47eb9099795bac7575.svg
  e24bf84ab2cb4c0433e47967a5bf731b.png
  main.js
  main.js.LICENSE.txt
Due: eslint --fix

Updates
  248.main.js
  3cd97f895302ceb3ef16d93cbf39d5de.svg
  5250b533fe56a78652c7.ttf
  559.main.js
  7c8d04cd831df3033c8a.ttf
  ac8d04b620e54be9b0f0.ttf
  e24bf84ab2cb4c0433e47967a5bf731b.png
  main.js
  main.js.LICENSE.txt
Due: eslint --fix

Updates
  130.main.js
  344.main.js
  aef627dba996fb47eb9099795bac7575.svg
Due: eslint --fix
