Repository it-is-not-alright/need-for-drive-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix"],
  "*.scss": ["stylelint --fix"],
  "*.{json,md}": ["prettier --write"]
}

Updates
  main.js
Due: eslint --fix

F-8. Cookie
  src/api/api-client.ts
  src/api/constants.ts
  src/api/http-util/request.ts
  src/api/services/auth.ts
  src/api/storage-util.ts
  src/cookie/auth.ts
  src/cookie/constants.ts
  src/cookie/types.ts
  src/cookie/util.ts
Due: eslint --fix

F-8. Folder structure
  src/components/App/App.tsx
  src/components/AuthWrapper/AuthWrapper.tsx
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/pages/LogInPage/LogInPage.tsx
  src/components/pages/OrdersPage/OrdersPage.tsx
  src/components/pages/SignUpPage/SignUpPage.tsx
  src/cookie/util.ts
  src/redux/actions/types.ts
  src/redux/auth/actions.ts
  src/redux/auth/constants.ts
  src/redux/auth/reducer.ts
  src/redux/auth/selectors.ts
  src/redux/auth/types.ts
  src/redux/auth/watcher.ts
  src/redux/reducer.ts
  src/redux/request-error/actions.ts
  src/redux/request-error/constants.ts
  src/redux/request-error/reducer.ts
  src/redux/request-error/selectors.ts
  src/redux/request-error/types.ts
  src/redux/saga.ts
  src/redux/store.ts
  src/redux/types.ts
Due: eslint --fix

Updates
  8e447acd8b79cad23dfa7e3f3b5ec5fc.png
  bfdd5eee63ac8d4c96f3a50119c2044f.svg
  main.js
Due: eslint --fix

V-8. ButtonGroup & CheckboxGroup
  src/api/types.ts
  src/assets/images/hyundai_i30-n.png
  src/assets/sprite.svg
  src/components/Header/Dropdown/Dropdown.tsx
  src/components/Layout/Layout.tsx
  src/components/_colors.scss
  src/components/common/Button/style.scss
  src/components/common/ButtonGroup/ButtonGroup.tsx
  src/components/common/ButtonGroup/style.scss
  src/components/common/ButtonGroup/types.ts
  src/components/common/CheckboxGroup/Checkbox/Checkbox.tsx
  src/components/common/CheckboxGroup/Checkbox/style.scss
  src/components/common/CheckboxGroup/Checkbox/types.ts
  src/components/common/CheckboxGroup/CheckboxGroup.tsx
  src/components/common/CheckboxGroup/style.scss
  src/components/common/CheckboxGroup/types.ts
  src/components/common/DataViewer/style.scss
  src/components/common/Icon/Icon.tsx
  src/components/common/Icon/style.scss
  src/components/common/Icon/types.ts
  src/components/common/Select/style.scss
  src/components/pages/OrdersPage/OrderRow/OrderRow.tsx
  src/components/pages/OrdersPage/OrderRow/constants.ts
  src/components/pages/OrdersPage/OrderRow/style.scss
  src/components/pages/OrdersPage/OrderRow/types.ts
  src/components/pages/OrdersPage/OrdersPage.tsx
  src/components/pages/OrdersPage/constants.ts
  src/util/date.ts
  src/util/number.ts
Due: eslint --fix, stylelint --fix

F-8. Auth fix
  src/api/api-client.ts
  src/api/constants.ts
  src/api/http-util/header.ts
  src/api/http-util/request.ts
  src/api/http-util/response.ts
  src/api/http-util/types.ts
  src/api/services/auth.ts
  src/api/types.ts
  src/api/utils.ts
  src/components/ErrorBoundary/ErrorBoundary.tsx
  src/components/ErrorBoundary/types.ts
  src/components/pages/ErrorPage/ErrorPage.tsx
  src/components/pages/ErrorPage/types.ts
  src/components/pages/NotFoundPage/NotFoundPage.tsx
  src/cookie/auth.ts
  src/cookie/util.ts
  src/redux/auth/watcher.ts
  src/redux/constants.ts
  src/redux/request-error/actions.ts
  src/redux/request-error/reducer.ts
  src/redux/request-error/types.ts
Due: eslint --fix

Updates
  3eb6c55927d8ca683bf1fb7857324223.svg
  main.js
Due: eslint --fix

V-8. Route fix
  src/components/SideBar/SideBar.tsx
  src/route/util.ts
Due: eslint --fix

V-8. Select fix
  package-lock.json
  package.json
  src/components/AuthorizationRoutes/AuthorizationRoutes.tsx
  src/components/PrivateRoutes/PrivateRoutes.tsx
  src/components/PrivateRoutes/types.ts
  src/components/common/CheckboxGroup/Checkbox/Checkbox.tsx
  src/components/common/CheckboxGroup/Checkbox/types.ts
  src/components/common/CheckboxGroup/CheckboxGroup.tsx
  src/components/common/CheckboxGroup/style.scss
  src/components/common/CheckboxGroup/types.ts
  src/components/common/DataViewer/DataViewer.tsx
  src/components/common/Select/Select.tsx
  src/components/common/Select/style.scss
  src/components/pages/OrdersPage/OrdersPage.tsx
  src/redux/car/selectors.ts
  src/redux/city/selectors.ts
  src/redux/order-status/selectors.ts
  src/redux/order/selectors.ts
  src/route/routes.tsx
  src/utils/date.ts
Due: eslint --fix, stylelint --fix, prettier --write

V-8. Select fix #2
  src/components/common/Select/Select.tsx
Due: eslint --fix

V-9. Beginning
  src/api/services/car.ts
  src/components/pages/CarsPage/CarsPage.tsx
  src/components/pages/CarsPage/constants.ts
  src/redux/car/actions.ts
  src/redux/car/constants.ts
  src/redux/car/reducer.ts
  src/redux/car/reducers.ts
  src/redux/car/selectors.ts
  src/redux/car/types.ts
  src/redux/car/watcher.ts
  src/redux/car/watchers.ts
  src/redux/order/actions.ts
  src/redux/reducer.ts
  src/redux/saga.ts
Due: eslint --fix

V-8. useClickAway
  package.json
  src/components/Header/Dropdown/Dropdown.tsx
  src/components/common/DataViewer/DataViewer.tsx
  src/components/common/Select/Select.tsx
  src/components/common/Select/types.ts
  src/components/hooks/use-click-away.ts
Due: eslint --fix, prettier --write
